<app-places-container title="Your Favorite Places">

    <!-- validamos si isfetching es true y error es false muestre esto -->
    @if(isFetching() && !error()){
    <p class="fallback-text">Fetching | buscando lugares favoritos </p>
    }

    <!-- validamos si error es true, se mando un error -->
    @if(error()){
    <p class="fallback-text">{{error()}}</p>
    } @if (places()) {
    <app-places [places]="places()!" /> } @else if (places()?.length === 0) {
    <p class="fallback-text">Unfortunately, no places could be found.</p>
    }
</app-places-container>